What is the difference between a float and an int ?

Answer - Float values are the values which are having decimal values within it with numerical values, e.g 22.5, 22.00, 25.4 etc. whereas int values are the only numerical values e.g 4,55,88 etc.

Make the output of the folowing line equal to 149 only by manipulating the order of operations

In [1]:
(25 + 25 )

50

Cause the following line to produce a float but still have the same result

In [ ]:
8+5 ##without float

13

In [ ]:
float(8+5) ##with float

13.0

Make it so the below statement prints an int instead of a float

In [ ]:
a = 4.5 +7.5
print(a)

12.0

In [ ]:
a = 4.5 + 7.5
print("The integer value is",int(a))

The integer value is 12

Fix the below code so you get the right result for a+b+c

In [ ]:
a = 4
b = 10
C = 5

a + b + c

NameError: ignored

In [ ]:
a = 4
b = 10
c = 5

d = a+b+c
print(d)

19

Write code below to calculate the remainder after dividing 55 by 7

In [ ]:
n = 55
m = 7
o = n%m
print("The remainder is :",o)

The remainder is : 6

What is 2 raised to the 20th power?

In [ ]:
powermult = 2**20
print("The 2 raised to 20th power is :",powermult)

The 2 raised to 20th power is : 1048576

Correct the error to make the following line of code return false

In [ ]:
a = 'false'

bool(a)

True

In [ ]:
a = 'false'

print(a)

false

Without deleting anything, make the code return True

In [ ]:
4 > 4

False

In [ ]:
value = (4>=4)
value

True

By only changing one symbol, make the folling code False

In [ ]:
17 <= 24

True

In [ ]:
17 >= 24

False

Make the following code False by adding a not

In [ ]:
False or True

True

In [ ]:
False and True

False

In [ ]:
False or not True

False

Make the following statement False by adding parentheses

In [ ]:
False and not False or True and True

True

In [ ]:
False and not (False or True) and True

False

Change the string to make to boolean false

In [ ]:
bool('a short string')

True

In [ ]:
bool('')

False

Find the sum, using a function of 4, 8, 38, -8, 9

In [ ]:
def num(p,q,r,s,t):
  return p+q+r+s+t
print(sum(4,8,38,-8,9))

51

Determine the absolute value of 18-27 using a function

In [ ]:
def abs(a):
    return a
print(sum(18-27))

-9

Find the minimum of 93, 27, 3.5, 19, 487 using a function (not predefined)

In [ ]:
def minimum(a,b,c,d,e):
    return min(a,b,c,d,e)
minimum(93,27,3.5,19,487)

3.5

Find the maximum of 238, 382, 82, 2 using a function

In [ ]:
def maximum(a,b,c,d):
    return max(a,b,c,d)
maximum( 238, 382, 82, 2)

382