Homework 07 - Introduction to Functions
For each of the function problems below, maintain the name of both the functions and the arguments. If you change either you will be marked down.

You can add or change default values if you want though.

Create a function, named my_add, that returns the sum of two numbers

In [ ]:
def my_add(x,y):
    return x+y

a= int(input("Enter first number:"))
b= int(input("Enter second number:"))

print("Sum of the given two numbers is: ", sum(a,b))

Enter first number:5
Enter second number:12
Sum of the given two numbers is:  17

Create a function, called my_factorial, which returns the factorial of the provided number.

In [ ]:
def my_factorial(num):
	if(num == 1):
		return 1
	s = num * my_factorial(num-1)
	return s;
 
my_factorial(5)

120

In [ ]:
#method 2 with user input

def my_factorial_2(x):
	if(x == 1):
		return 1
	s = x * my_factorial_2(x-1)
	return s;
 
a= int(input("Enter The number:"))

print("Factorial of number is :", my_factorial_2(a))

Enter The number:10
Factorial of number is : 3628800

Create a function, named odd_or_even, that tells me if the provided integer is odd or even

In [ ]:
def odd_or_even(y):
  if (y % 2 == 0):
    print("Number is even")
  else:
    print("Number is odd")
  return;

a = int(input("Enter the Number :"))

print(odd_or_even(a))

Enter the Number :9
Number is odd
None

Create a function, named divisors, which tells me every number from 1 upto the original value that divides the original evenly
For example, given 15 divisors should return the list [1,3,5,15]

Given 1, divisors should return the list [1]

Given 11, divisors should return the list [1,11]

In [ ]:
def divisors(n):
  i = 1
  while i <= n:
    if (n % i == 0):
      print(i)
    i += 1

print(divisors(int(input("Enter :"))))

Enter :15
1
3
5
15
None

Create a function, named fibonacci, which returns a list of all the Fibonacci numbers less than the provided value
For exampe, given 15, the returned list should be [1,1,2,3,5,8,13]

In [ ]:
def fibonacci(n):
  a = 0
  b = 1
  if n < 0:
    print("Incorrect Number")
  elif n == 1:
    return a
  elif n == 2:
    return b
  else:
    for i in range(1, n):
      c = a + b
      a = b
      b = c
  return b

en = int(input("Enter :"))

print("Series :",fibonacci(en))

Enter :10
Series : 55

Create a function, called palindrome, which tells me if the provided string is a palindrome (same forwards as backwards)

In [ ]:
def Palindrome(s): 
      
    rev = ''.join(reversed(s)) 
  
    if (s == rev): 
        return True
    return False

s = str(input("Enter Word :"))
ans = Palindrome(s) 
  
if (ans): 
    print("True") 
else: 
    print("False")

Enter Word :hatch
False

Write a function, called my_sort, which takes a list of numbers as input and returns the values sorted from smallest to largest

In [ ]:
  data_list = [1,5,8,9,14,13,17,12,20,10, 0]
  new_list = []

  while data_list:
    minimum = data_list [0]
    for x in data_list:
      if x < minimum:
        minimum = x
        
    new_list.append(minimum)
    data_list.remove(minimum)

print(new_list)

[0, 1, 5, 8, 9, 10, 12, 13, 14, 17, 20]

Create a function called my_power which raises the first number to the power of the second number. The second number should default to 2 if nothing else is given.

Write a function, called my_sum, which adds an set (of unknown lenght) of number together.
Don't use the built-in sum function or numpy's sum funciton

In [ ]:
def my_sum(n):
  summ = 0
  a = int(input("Enter Number :"))
  for n in a:
    if summ == a:
      summ += n
    return summ


print(my_sum(a))

Enter Number :1,2,4

ValueError: ignored