In one line assign both a and b to 17

In [ ]:
a=b=17

In one line assign each character in the string to a different variable. Print all the variables (need not be on a single line).

In [ ]:
a,b,c,d = 'N','I','K','H'

print(a,b,c,d)

N I K H

Remove the last item from the list and print it in a single line

In [ ]:
suits = ['spades', 'diamonds', 'clubs', 'hearts']
suits.pop()

'hearts'

In [ ]:
suits

['spades', 'diamonds', 'clubs']

Add 'king' to the end of the list, then print the full list

In [ ]:
card_values = ['ace','2','3','4','5','6','7','8','9','10','jack','queen']

In [ ]:
card_values.append('King')

In [ ]:
card_values

['ace', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'jack', 'queen', 'King']

Create a series of if statements that will tell me if a given card value from the provided list is greater than, less than, or equal to 7. Treat 'ace' as though it has a value of 1.

For example, if you are provided '3', your code should print out: 3 is less than 7

If you are provided 'king', your code should print out: king is greater than 7

If you are provided a '7', your code should print out: 7 is equal to 7

In [ ]:
# importing modules
import itertools, random

# make a deck of cards
deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))

# shuffle the cards
random.shuffle(deck)

# draw five cards
print("You got:")
for i in range(5):
   print(deck[i][0], "of", deck[i][1])

You got:
13 of Club
4 of Heart
8 of Club
3 of Spade
7 of Spade

In [ ]:
x = int(input('enter the card:'))
x1 = card_values
if (x<7):
  print('The card is less than 7')
else:
  print('7 is equal to 7')

enter the card:7
7 is equal to 7

In [ ]:
y = str(input('card name :'))

if y == 'king' :
    print('Card is Greater than 7')

if y == 'queen':
    print('Card is Greater than 7')

if y == 'jack':
    print('Card is Greater than 7')

else:
  print('Card is equal or less than 7')

card name :king
Card is Greater than 7
Card is equal or less than 7

Given a card value from the provided list, print out its representative number.

For example, if you are provided '8' your code should print out: 8 is equal to 8

if you are provided 'king' your code should print out: king is equal to 13

In [ ]:
num = int(input('Enter the card :'))

if num < 8:
  print('Card is less than 8')
else:
  print('Card is equal to 8')

Enter the card :6
Card is less than 8

In [ ]:
name = str(input('Enter The Card :'))

if name == 'king':
  print('Card is Equal to 13')

if name == 'queen':
  print('Card is Equal to 12')

if name == 'jack':
  print('Card is Equal to 11')

Enter The Card :jack
Card is Equal to 11

Loop through the following list of values, adding them as you go. Once the value is greater than 50 print the sum and stop

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

In [ ]:
Sum_num = sum(test_list)
if Sum_num < 50:
  print('less than 50')
  Sum_num=+1
else:
  print('greater than 50')

greater than 50

In [ ]:
test_list_new = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

max_num_limit = 50
sum = 0 
for i in test_list_new:
  sum = sum + i
  if sum > max_num_limit:
    print("Exceeded")
    break
  print(sum)

1
4
13
16
34
43
Exceeded

Print each element of the list until you reach the value of 12, then stop. Use a while loop.

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

Print each element of the list until you reach the value of 12, then stop. Use a for loop.

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

In [ ]:
for i in range(len(test_list)):
  if i == 12:
    print(i)

12

In [ ]:
def range(test_list_12):

  for x in test_list_12:
    if x == 12:
      x=+1
  return x

test_list_12 = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

print (test_list_12)

[1, 3, 9, 3, 18, 9, 21, 19, 7, 12, 15, 22, 29, 65]

In [ ]:
for num in test_list_12:
  if num < 12:
    print(num)

1
3
9
3
9
7

Print each element of the list
The first few printed lines should be:

The element is equal to 1

The element is equal to 3

The element is equal to 9

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

for elemen in test_list:
  print("The Element is :", elemen)

The Element is : 1
The Element is : 3
The Element is : 9
The Element is : 3
The Element is : 18
The Element is : 9
The Element is : 21
The Element is : 19
The Element is : 7
The Element is : 12
The Element is : 15
The Element is : 22
The Element is : 29
The Element is : 65

Print each key/value pair from the dictionary
The form of each printed line should be:

The [team] are from [city or state]

for example:

The Red Wings are from Detroit

In [ ]:
atlantic = {'Boston':'Bruins', 'Buffalo': 'Sabres', 'Detroit': 'Red Wings', 
            'Florida':'Panthers', 'Montreal':'Canadiens', 'Ottawa':'Senators', 
            'Tampa Bay': 'Lightning', 'Toronto':'Maple Leafs'}

In [ ]:
print("\n".join("The {!r} are from {!r},".format(k, v) for k, v in atlantic.items())) 

## ref from stack overflow https://stackoverflow.com/questions/20181899/how-to-make-each-key-value-of-a-dictionary-print-on-a-new-line

The 'Boston' are from 'Bruins',
The 'Buffalo' are from 'Sabres',
The 'Detroit' are from 'Red Wings',
The 'Florida' are from 'Panthers',
The 'Montreal' are from 'Canadiens',
The 'Ottawa' are from 'Senators',
The 'Tampa Bay' are from 'Lightning',
The 'Toronto' are from 'Maple Leafs',

Create a list of every (natural) number from 17 to 129

In [ ]:
x = range(17, 129)
for n in x:
  print(list(n))

TypeError: ignored

Print the lenght of the following list

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]
len(test_list)

14

Using zip, create a dictionary, named metropolitan, using the values in the location list as the keys and the the teams in the team list as the values

In [ ]:
location = ['Carolina', 'Columbus', 'New Jersey', 'New York 1', 'New York 2', 'Philadelphia', 'Pittsburgh', 'Washington']
team = ['Hurricanes', 'Blue Jackets', 'Devils', 'Islanders', 'Rangers', 'Flyers', 'Penguins', 'Capitals']

In [ ]:
Metropolitan = dict(zip(location, team))
print(Metropolitan)

{'Carolina': 'Hurricanes', 'Columbus': 'Blue Jackets', 'New Jersey': 'Devils', 'New York 1': 'Islanders', 'New York 2': 'Rangers', 'Philadelphia': 'Flyers', 'Pittsburgh': 'Penguins', 'Washington': 'Capitals'}

For each element in the list print out its index and its corresponding value
Use the format:

0: 1

1: 3

2: 9

In [ ]:
test_list = [1,3,9,3,18,9,21,19,7,12,15,22,29,65]

In [ ]:
print("list of index values are as follows:")

for index, value in enumerate(test_list): 
    print(index,':', value)

list of index values are as follows:
0 : 1
1 : 3
2 : 9
3 : 3
4 : 18
5 : 9
6 : 21
7 : 19
8 : 7
9 : 12
10 : 15
11 : 22
12 : 29
13 : 65

Create a list of tuples for each card in a deck of cards using the provided lists. Then print out each tuple on its own seperate line.
For example, your list should have as elements:

('king','clubs')

('3', 'diamonds')

('ace', 'hearts')

In [ ]:
card_values = ['ace','2','3','4','5','6','7','8','9','10','jack','queen','king']
suits = ['spades', 'diamonds', 'clubs', 'hearts']

In [ ]:
list_tuples = list(zip(card_values,suits))
print(list_tuples)

[('ace', 'spades'), ('2', 'diamonds'), ('3', 'clubs'), ('4', 'hearts')]

In [ ]:
#print('\n'.join(list(zip(card_values, suits))))

for i in list_tuples:
  print(i)

('ace', 'spades')
('2', 'diamonds')
('3', 'clubs')
('4', 'hearts')